@charset "UTF-8";

.sectionContainer { 
	display: flex;
	min-width: 1050px;
	margin-bottom: 85px;
}
/* LEFT */
.leftSection { 
	height: 800px;
	min-width: 280px;
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
	box-sizing: border-box;
	text-align: center;
}
.calendarHeaderContainer{
	margin-top: 40px;
	margin-bottom: 40px;
}
.calendarHeaderBtn{
	display:inline-block;
	margin:5px;
	font-size: 18px;
	height: 25px;
	width:80px;
	font-family:unset;
	background-color: lightgray;
	border-radius: 4px;
}
.calendarHeaderBtn:hover{
	background-color: gray;
	cursor: pointer;
}

.contentContainer{
	margin-top: 40px;
	margin-bottom: 40px;
}
.contentForm{
	text-align: center;
	margin-bottom: 10px;
}
.checkedContentSelect {
	width: 240px;
	height: 35px;
	font-size: 13px;
	border: 2px solid #ddd;
	border-radius:8px;
	background: url(/img/bg_select.png) no-repeat right 13px center;
	appearance: none;
	background-color:lightgray;
	
	text-align:center;
	margin-top:20px;
	-webkit-appearance: none;
}
.checkedContentSelect::-ms-expand {  display: none;}


.contentBtn{
	margin:5px;
	font-size: 12px;
	height: 30px;
	width:120px;
	background-color: gray;
	border-radius: 4px;
	padding: 5px;
}
/* RIGHT */
.rightSection { 
	height: 800px;
	min-width: 1260px;
	max-width: 1450px;
	flex-basis: 80%;
	display: flex;
	border: 3px solid gray;
	border-radius: 8px;
	margin: 0.2%;
}

/* == RIGHT(monthly) == */
.monthlyCalendar {
	height: 100%; /* 800px */
	width:100%;
	box-sizing: border-box;
	margin: 0.2%;
	display: flex;
	flex-direction: column;
}

.monthlyCalendar>div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.dayHeaderContainer {
	height: 35px;
}

.calendarWeekContainer {
	height: calc(100%/ 6.5);
}

.dayHeader {
	height: 100%;
	width: calc(100%/ 7.2);
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 1.3em;
	font-weight: 550;
	background-color: #7C7877;
}

.calendar_day {
	width: calc(100%/ 7.2);
	height:100%;
	background-color:#ABD0CE;
}

.calendar_day>span {
	display: block;
}
.calendar_day>span:first-child {
	font-size: 1.1em;
	margin: 0.4em;
	height:15%;
}
.calendar_day>span:last-child {
	height:71%;
	font-size: 0.8em;
}

/* == RIGHT(weekly) == */

.weeklyCalendar{
	display: grid;
  	grid-template-columns:1fr 17fr;
  	background-color: beige;
	width:100%;
}
.timeLineContainer{/* timeLineContainer */
   display: grid;
   grid-template-rows:repeat(21, 1fr);
   text-align: center;
}
.timeLineTitle{
   border: 2px solid black;
   border-radius: 8px;
   font-size: 18px;
}
.timeLineItem{
   text-align: right;
   padding-right: 5px;
   font-size: 12px;
}
.timeTableContainer{/* timeTableContainer= */
   display: grid;
   grid-template-rows:2fr 33fr;
   height: 100%;
}
.weekDayHeaderContainer {
   display: grid;
   grid-template-columns:repeat(7, 1fr);
   height: 45px;
}
.weekDayHeaderContainer > div{ /* .dayHeader */
   text-align: center;
   height: 45%;
   margin: 8%;
   padding: 2px;
   border-radius: 8px;
   background-color: wheat;
}
.weekItemContainer{
   display: grid;
   grid-template-columns:repeat(7, 1fr);
   grid-template-rows:repeat(20, 1fr);
   height: 100%;
}
.weekItemContainer>div{
    border: 0.1px solid black;
}
/* == RIGHT(weekly) == */
.userScheduleContainer{
	width: 100%;
	height: 100%;
}
#scheduleList{
	width: 98%;
	padding:1%;
}
#myRsvTable{
	width: 100%;
	text-align: center;
	border: 3px;
}
#myRsvTable>thead{
	font-size: 25px;
	height: 50px;
	background-color: gray;
}
#myRsvTable>tbody{
	font-size: 20px;
	background-color: lightgray;
}
#myRsvTable>tbody>tr{
	height: 40px;
}
#myRsvTable th,#myRsvTable td{
	padding: 10px;
	border: 2px solid white;
}
