@charset "UTF-8";

.sectionContainer { 
	display: flex;
	min-width: 1050px;
	margin-bottom: 85px;
}
/* LEFT */
.leftSection { 
	height: 800px;
	min-width: 250px;
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
	box-sizing: border-box;
	text-align: center;
}
.calendarHeaderContainer{
	margin-top: 40px;
	margin-bottom: 40px;
}
.calendarHeaderBtn{
	display:inline-block;
	margin:5px;
	font-size: 18px;
	height: 25px;
	width:80px;
	font-family:unset;
	background-color: lightgray;
	border-radius: 4px;
}
.calendarHeaderBtn:hover{
	background-color: gray;
	cursor: pointer;
}

.contentContainer{
	margin-top: 40px;
	margin-bottom: 40px;
}
.contentForm{
	text-align: center;
	margin-bottom: 10px;
}
.checkedContentSelect {
	width: 240px;
	height: 35px;
	font-size: 13px;
	border: 2px solid #ddd;
	border-radius:8px;
	background: url(/img/bg_select.png) no-repeat right 13px center;
	appearance: none;
	background-color:lightgray;
	
	text-align:center;
	margin-top:20px;
	-webkit-appearance: none;
}
.checkedContentSelect::-ms-expand {  display: none;}


.contentBtn{
	margin:5px;
	font-size: 12px;
	height: 30px;
	width:120px;
	background-color: gray;
	border-radius: 4px;
	padding: 5px;
}
/* RIGHT */
.rightSection { 
	height: 800px;
	min-width: 920px;
	flex-basis: 80%;
	display: flex;
	border: 3px solid gray;
	border-radius: 8px;
	margin: 0.2%;
}

/* == RIGHT(monthly) == */
.monthlyCalendar {
	height: 100%; /* 800px */
	width:100%;
	box-sizing: border-box;
	margin: 0.2%;
	display: flex;
	flex-direction: column;
}

.monthlyCalendar>div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.dayHeaderContainer {
	height: 35px;
}

.calendarWeekContainer {
	height: calc(100%/ 6.5);
}

.dayHeader {
	height: 100%;
	width: calc(100%/ 7.2);
	display: flex;
	align-items:center;
	justify-content:center;
	
	font-size: 1.3em;
	font-weight: 550;
	background-color: #7C7877;
}

.calendar_day {
	width: calc(100%/ 7.2);
	height:100%;
	background-color:#ABD0CE;
}

.calendar_day>span {
	display: block;
}
.calendar_day>span:first-child {
	font-size: 1.1em;
	margin: 0.4em;
}
.calendar_day>span:last-child {
	height:65%;
	/* 
	overflow-y:scroll;
	overflow-x:clip;
	 */
	font-size: 0.8em;
}

/* == RIGHT(weekly) == */

.weeklyCalendar{
	display: flex;
	width:100%;
}
.timeLineContainer{
	flex-basis: 12.5%;
	background-color: aqua;
	margin-top:5px;
	margin-left:5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2em;
	min-width: 160px;
}
.timeLineTitle{
	height: 45px;
	background-color: royalblue;
	display: flex;
	align-items: center;
	width: 92%;
	justify-content: center;
	margin: 5px;	
	font-size: 1.3em;
	font-weight: 550;
}
.timeLineItem{
	height: calc(100%/20);
	background-color: aliceblue;
	display: flex;
	align-items: center;
	width: 92%;
	min-width:125px;
	justify-content: center;
	margin: 3px;	
}

.timeLineItemValue{
	height: 35px;
	background-color: white;
	display: flex;
	align-items: center;
	width: 150px;
	justify-content: center;
	border: 1px solid red;
	margin-top: 5px;
}
.timeLineItemValueFirst{
	height: 35px;
	background-color: white;
	display: flex;
	align-items: center;
	width: 150px;
	justify-content: center;
	border: 1px solid red;
	margin-top: 5px;
}

.timeLineItem{
	height: calc(100%/20);
	background-color: aliceblue;
	display: flex;
	align-items: center;
	width: 92%;
	min-width:125px;
	justify-content: center;
	margin: 3px;	
}

.weekContainer{
	flex-basis: 87.5%;
	background-color: pink;
	margin-top: 5px;
	margin-right: 5px;
	display: flex;
	
}

#calendar {
	height: 100%; /* 800px */
	width:100%;
	box-sizing: border-box;
	margin: 0.5%;
	display: flex;
	flex-direction: column;
}

#calendar>div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.calendarWeekContainer {
    width: 100%;
    height: calc(100%/ 6.3);
    display: block;
}
.dayofweek {
	height: 100%;
	width: calc(100%/ 7.3);
	display: inline-block;
	padding-top: 8px;
	text-align: center;
}

.dayHeader>span{
	display: block;
}