@charset "UTF-8";
/* dialog field */
fieldset {
	padding: 0;
	border: 0;
	width: 380px;
	margin: 0 auto;
}

.loginTypeContainer {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin: 5px;
}

.loginType {
	width: 20px;
	height: 20px;
	margin: 5px;
}

.inputText {
	display: flex;
	align-items:baseline;
	text-align: center;
	width: 400px;
	margin: 10px;
}

.idLabel, .passwordLabel {
	flex-basis: 30%;
	font-size: 20px;
}

.id, .password {
	flex-basis: 60%;
	font-size: 15px;
}
.refContatiner{
	margin-top: 30px;
	font-size: 8px;
}
