@charset "UTF-8";
/* dialog field */
/* 로그인 다이얼로그 */
fieldset {
	padding: 0;
	border: 0;
	width: 380px;
	margin: 0 auto;
}

.loginTypeContainer {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin: 5px;
}

.loginType {
	width: 20px;
	height: 20px;
	margin: 5px;
}

.inputText {
	display: flex;
	align-items:baseline;
	text-align: center;
	width: 400px;
	margin: 10px;
}

.idLabel, .passwordLabel {
	flex-basis: 30%;
	font-size: 20px;
}

.id, .password {
	flex-basis: 60%;
	font-size: 15px;
}
.refContatiner{
	margin-top: 30px;
	font-size: 8px;
}

/* 예약 다이얼로그 */

#dialogHeader {
	padding: 0 0 42px;
	border-bottom: 3px solid #444;
	font-weight: normal;
	font-size: 28px;
	color: #222;
	text-align: center;
	line-height: 100%;
	margin : 25px;
}

#rsvList {
	font-size : 28px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 5px;
	color: skyblue;
}

#dialog-rsvList.dayRsvList {
	font-size: 30px;
	line-height: 100%;
	font-weight: bold;
	padding : 15px;
}

#dorsv {
	font-size : 28px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 5px;
	color: skyblue;
}

.category {
	padding-top: 15px;
	font-size: 23px;
	color: #222;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	font-weight: bold;
	margin-left: 5px;
}

#timeSet {
	margin-top: 50px;
}

.checkedContent {
	width: 300px;
	padding: .8em .5em;
	border: 1px solid #999;
	font-family: inherit;
	background: url('/img/sarrow.png') no-repeat 100% 50%;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.time_pick {
    position: relative;
    display: inline-block;
}

#border1 {
	border: 5px solid transparent;
    border-radius: 20px;
    border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    border-image-slice: 1;
	padding: .8em .5em;
	margin: 10px;
	overflow: auto;
}

#border2 {
	border: 5px solid transparent;
    border-radius: 20px;
    border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    border-image-slice: 1;
	padding: .8em .5em;
	margin: 10px;
	height:300px;
}

#rsv-dialog-form {
	width: 200px;
    height: 100px;
    border: 5px solid transparent;
    border-radius: 20px;
    border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    border-image-slice: 1;
    margin: 5px;
}

#start {
	padding-right: 10px;
	padding-top: 15px;
	font-size: 23px;
	color: #222;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	font-weight: bold;
	margin-left: 5px;
}

#end {
	padding-left: 10px;
	padding-top: 15px;
	font-size: 23px;
	color: #222;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	font-weight: bold;
	margin-left: 5px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
    display: none;
}

.ui-widget-content {
	border: 1 px solid #dddddd;
	background: #ffffff;
	color: #333333;
	text-align: center;
}

.btn {
	display: inline-block;
	width: 170px;
	height: 50px;
	line-height: 50px;
	color: #000000;
	text-align: center;
	margin-left : 5px;
	margin-right : 5px;
	margin-top: 25px;
	border-radius: 5px;
	
	border: 1px solid skyblue;
	background-color: rgba(0, 0, 0, 0);
	color: skyblue;
}

.btn:hover {
	color: white;
	background-color: skyblue;
}

.timepicker {
	height : 30px;
	border: none;/*1px solid #999;*/
	font-family: inherit;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}