@charset "UTF-8";
:root{
	--color-white:#e5e6e3;
	--color-black:#011627;
	--color-point1:#96E1B8;
    --color-point2:#d8e9ef;
    --accent-color:#e85a71;

	--color-green1:#9DC3C1;
	--color-green3:#96E1B8;
	--color-green4:#AAECA4;
	--color-green5:#CCF48A;
	--color-yellow:#F9F871;
    --color-pink1:#FDB4DB;
    --color-pink2:#e85a71;
    --text-color:#f0f4f5;
    --blackground-color:#dddddd;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 700;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
}
a{
    text-decoration: none;
    color: var(--color-black);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--color-point1);
    padding:8px 12px;
}
.navbar_logo{
    flex-basis: 25%;
    font-size: 34px;
    color: var(--color-black);
    padding-left: 30px;
}
.navbar_logo i{
    color: var(--accent-color);
}
.navbar_menu{
    flex-basis: 50%;
    display: flex;
    list-style: none;
    font-size: 25px;
    padding-left: 0;
    justify-content: center;
}
.navbar_menu li{
    padding: 8px 24px;
}
.navbar_menu li:hover{
    background-color: var(--color-green1);
    border-radius: 6px;
}
.navbar_icons{
    flex-basis: 25%;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.loginSection{
	font-size: 25px;
}

.loginSection i{
    padding-right: 10px;
}
.logoutSection{
	font-size: 15px;
	display: none;
}
.logoutSection sapn :hover {
    background-color: var(--color-green1);
    border-radius: 6px;
}

.navbar_toogleBtn{
    display: none;
    position: absolute;
    right: 80px;
    top:10px;
    font-size: 30px;
    color: var(--accent-color);
}

@media screen and (max-width:1100px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toogleBtn{
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }
}

/* MAIN */
#mainContatiner{
    background-color: var(--color-white);;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    height: 70vh;
    width: auto;
}
#imgContatiner {
    /* background-image: url(image.PNG);  */
    background-color: red;
    width: 70%;
    height: 60%;
    min-width: 1255px;
}
#imgContatiner2{
    background-color: var(--color-point1);
    border-radius: 20px;
    width: 90%;
    height: 12%;
    min-width: 1255px;
    max-width: 1290px;
}
#img{
    width: 100%;
    height: 100%;
}
#checkedCategory{
	/* display: none; */
}
